body {
    background-color: #121212;
    height: 100%;
    margin: 0;
    color: white;
}

/* Main page */
table,
th,
tr {
    border: 1px solid black;
    border-collapse: collapse;
}

table, thead {
    width: 100%;
}

th {
    height: 20px;
}

tr {
    height: 60px;
    text-align: center;
}

tr:hover {
    background-color: #181818;
}

a:link {
  color: lightgrey;
  text-decoration: none;
}

a:visited {
  color: lightgrey;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

button {
    padding: 1vh 1vw;
    border: none;
    color: white;
    background-color: #121212;
    border-radius: 4px;
    text-decoration: none;
}

#listingTableHeader {
    height: 20px;
}

#header {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #404040;
}

#title {
    margin-left: 3vw;
    min-width: 93px;
    width: 10vw;
    text-align: center;
}


#filterListings {
    min-width: 50px;
    width: 10vw;
}

#filterButton {
    margin-left: 3vw;
}

#newListing {
    width: 30vw;
    margin-left: auto;
}

#newListingButton {
    float: right;
    margin-right: 3vw;
}

#listingsTable {
    width: 100vw;
}

/* Filter Results Popup */

#filterPopup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    background-color: #282828;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    z-index: 4;
}

#filterPopup.active,
#newListingPopup.active,
#showListingPopup.active {
    transform: translate(-50%, -50%) scale(1);
}

#filterPopupHeader {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

#filterPopupBody {
    padding: 10px 15px;
}

/* New listing Popup */

#newListingPopup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    background-color: #282828;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    z-index: 4;
    padding-left: 50px;
}

#newListingPopupHeader {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

#newListingPopupBody {
    padding: 10px 15px;
}

#newListingPopupBodyTop {
    display: flex;
    width: 100%;
}

#propertyInformationContainer {
    display: flex;
    width: 100%;
}

#propertyInformationLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#propertyInformationRight {
    margin-top: 18.5px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

#agentInformationContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#addressInformationContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#showListingPopup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    background-color: #282828;
    border-radius: 10px;
    width: 80%;
    max-width: 1200px;
    z-index: 4;
    min-height: 200px;
}

#showListingPopupHeader {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px 15px;
}

#showListingPopupBody {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

#showListingPopupInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

#showListingPopupInfoRight {
    margin-top: 18.5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

#showListingPopupFooter {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    pointer-events: none;
}

#overlay.active {
    opacity: 0.4;
    pointer-events: all;
}
